body {
    font-family: 'Rambla'; sans-serif;
}
.navbar {
    overflow: auto;
}
.alert-container {

}
.callout-container {
    background: url("/Images/Whiskey-glass-cover.jpg")fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    
    
}
.jumbotron {
    background-color: transparent;
    margin-top: 18%;
    font-weight: 10%;
}
.jumbotron h1{
    font-weight: bold;
}
.qoutes-container {

}
.features-container {

}
tables-container {

}
